{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Catégories</h1>
            <p class="lead text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus sit, nostrum, a, eligendi soluta earum animi perspiciatis maxime deserunt ducimus minus hic ab aliquam odit recusandae iure provident quaerat consequatur.</p>
        </div>
    </section>
{% endblock %}
