{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1 class="my-4">Créer un produit</h1>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_widget(form) }}

        <button class="btn btn-primary">Ajouter le produit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
