{% extends 'base.html.twig' %}

{% block body %}
<div class="container my-5">
    <h1 class="my-4">Modifier le produit {{ product.name }}</h1>

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}

    <button class="btn btn-primary">Modifier le produit</button>
    {{ form_end(form) }}
</div>
{% endblock %}
